<div class="modal" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-left:1000px;margin-top: 20px;">
      <div class="modal-content" style="height: 360px;width: 350px;background-color: rgb(176, 167, 167);">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="myform" style="background-color: rgb(176, 167, 167);">
                <h1 class="text-center text-white">Login Form</h1>
               
                   <form [formGroup]="loginform"> 
                    <div class="mb-3 mt-4">
                      <label class="form-label text-white">Username</label>
                      <input type="text" class="form-control"  formControlName="loginemail">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="loginform.controls['loginemail'].errors?.['required']">
                           Username is required..!
                        </div>
                    </div>

                  </div>
                  <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="text" class="form-control" formControlName="password">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="loginform.controls['password'].errors?.['required']">
                           Password is required..!
                        </div>
                    </div>

                  </div>
                    <button type="submit" class="btn btn-success mt-3" (click)="submit()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked=='no'" style="background-color:green;">LOGIN</button>
                    <button type="submit" class="btn btn-danger mt-3" (click)="clear()" style="background-color:red;">CANCEL</button>
                </form>    
            </div>
        </div>
      </div>
    </div>
  </div>