<nav class="navbar navbar-expand-sm fixed-top" style="background-color:black;height: 70px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav text-white" style="margin-top: 10px;">
          <li class="nav-item" style="padding: 10px;margin-left: 200px;">
            <a class="nav-link" href="home"><h3 class="text-white">Home</h3></a>
          </li>
          <li class="nav-item" style="padding: 10px">
            <a class="nav-link" routerLink="teacher"><h3 class="text-white">Teachers</h3></a>
          </li>
          <li class="nav-item" style="padding: 10px">
            <a class="nav-link" routerLink="student"><h3 class="text-white">Students</h3></a>
          </li>
          <li class="nav-item" style="padding: 10px">
            <a class="nav-link"  routerLink="staff"><h3 class="text-white">Staff</h3></a>
          </li>
          <li class="nav-item" style="padding: 10px">
            <a class="nav-link"  routerLink="exam"><h3 class="text-white">Exam</h3></a>
          </li>
          
        </ul>
        <form class="d-flex" style="margin-left:600px ;">
          
          
            <i class="fa fa-search" aria-hidden="true" style="margin-top:5px;color:white;font-size: 30px;"></i>&nbsp;&nbsp;
          <button class="btn" type="button" routerLink="login" data-bs-toggle="modal" data-bs-target="#ModalForm" style="margin-left: 20px;">
            <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 35px;color: white;"></i>
          </button>&nbsp;
  
          <button class="btn" type="button" routerLink="register" data-bs-toggle="modal" data-bs-target="#ModalForm1" style="margin-left: 10px;">
            <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 35px;color: white;"></i></button>
        </form>
      </div>
    </div>
  </nav>
<header class="offcanvas-menu" style="margin-top: 60px;">
	<input type="checkbox" id="toogle-menu" />

	<label for="toogle-menu" class="toogle-open" style="margin-top: -15px;"><span></span></label>

	<nav>
		<div class="text-white">
			<a href="#"> 
                <img src="../assets/logo2.webp" style="height:100px;width: 200px;">
            </a>
			<label for="toogle-menu" class="toogle-close">
				<span></span>
			</label>
		</div>
		<ul style="font-size:40px ;">
            <li class="text-white">Home</li>
			<li class="text-white">Teachers</li>
			<li class="text-white">Students</li>
			<li class="text-white">Staff</li>
			<li class="text-white">Exam</li>
			
		</ul>
	</nav>
</header>


<div class="row">
  <img src="../assets/3.jpg" style="height: 630px">
  <button type="button" class="btn btn-primary btn-lg justify-content-end" style="height:50px;width:150px;background-color: black;margin-top: -55px;margin-left: 720px;">
  EXPLORE MORE
</button>

</div>
<br>
<br>
<div class="row">
  <h1 class="text-center" style="font-size: 50px;"><b>College Campus Information</b></h1>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-secondary btn-lg" style="height:90px;border-radius:90px;margin-left:100px;width:90px;border: 1.5px solid gray;" data-bs-toggle="modal" data-bs-target="#ModalForm2">
        <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
      
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-secondary btn-lg" style="height:90px;border-radius:90px;margin-left:100px;width:90px;border: 1.5px solid gray;" data-bs-toggle="modal" data-bs-target="#ModalForm3">
        <i class="fa fa-user" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
      
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-secondary btn-lg" style="height:90px;border-radius:90px;margin-left:100px;width:90px;border: 1.5px solid gray;" data-bs-toggle="modal" data-bs-target="#ModalForm4">
        <i class="fa fa-users" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
     
  </div>
  <div class="col-lg-2">
    <a href="#"><h5 style="color: white;">
      <button type="button" class="btn btn-secondary btn-lg" style="height:90px;border-radius:90px;margin-left:100px;width:90px;border: 1.5px solid gray;" data-bs-toggle="modal" data-bs-target="#ModalForm5">
        <i class="fa fa-plus" aria-hidden="true" style="font-size: 40px"></i>
      </button></h5></a>
      
  </div>
  
 
  <div class="col-lg-2"></div>
</div>
<br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2" style="margin-left:15px">
    
      <h3 class="text-center" style="color: navy;">Teachers Details</h3>
  </div>
  <div class="col-lg-2">
   
      <h3 class="text-center" style="color: navy;">Student Details</h3>
  </div>
  <div class="col-lg-2">
    
      <h3 class="text-center" style="color: navy;">Staff Details</h3>
  </div>
  <div class="col-lg-2">
    
      <h3 class="text-center" style="color: navy;">Exam Details</h3>
  </div>
  
 
  <div class="col-lg-2"></div>
</div>

<div class="row text-white" style="margin-top: 70px;">
  <div class="col-lg-3">
    <div class="card" style="width:320px;margin-left: 30px;">
      <img class="card-img-top" src="../assets/back1.avif" alt="Card image" style="width:100%;height: 200px;">
      <div class="card-body text-white">
        <br>
        <h4 class="card-title text-center text-white">Future Students</h4>
        <br>
        <p class="card-text text-center text-white">Some example text some example text. John Doe is an architect and engineer</p>
        <br>
        <a href="#" class="btn btn-primary text-center text-white" style="width: 100px;height:40px;margin-left: 110px;">See Profile</a>
        
      </div>
      <br>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="width:320px;margin-left: 20px;">
      <img class="card-img-top" src="../assets/1.jpg" alt="Card image" style="width:100%;height: 200px;">
      <div class="card-body">
        <br>
        <h4 class="card-title text-center text-white">College Students</h4>
        <br>
        <p class="card-text text-center text-white">Some example text some example text. John Doe is an architect and engineer</p>
        <br>
        <a href="#" class="btn btn-primary text-center text-white" style="width: 100px;height:40px;margin-left: 110px;">See Profile</a>
      </div>
      <br>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="width:320px;margin-left: 12px;">
      <img class="card-img-top" src="../assets/2.jpg" alt="Card image" style="width:100%;height: 200px;">
      <div class="card-body">
        <br>
        <h4 class="card-title text-center text-white">Sports Forum</h4>
        <br>
        <p class="card-text text-center text-white">Some example text some example text. John Doe is an architect and engineer</p>
        <br>
        <a href="#" class="btn btn-primary text-center text-white" style="width: 100px;height:40px;margin-left: 110px;">See Profile</a>
      </div>
      <br>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="width:320px;">
      <img class="card-img-top" src="../assets/back.jpg" alt="Card image" style="width:100%;height: 200px;">
      <div class="card-body">
        <br>
        <h4 class="card-title text-center text-white">Future Events</h4>
        <br>
        <p class="card-text text-center text-white">Some example text some example text. John Doe is an architect and engineer</p>
        <br>
        <a href="#" class="btn btn-primary text-center text-white" style="width: 100px;height:40px;margin-left: 110px;">See Profile</a>
      </div>
      <br>
    </div>
  </div>
  
</div>
<br>
<br>
<br>
<router-outlet></router-outlet>
<!-- <app-teachers></app-teachers>

<app-students></app-students>

<app-staff></app-staff>

<app-exams></app-exams> -->


<div class="row">
  <div class="col-lg-12 text-center my-2">
         <h3 class="py-3"><a href="https://spreeowl.com/">Campus</a></h3>
     <h4>College Gallery</h4>
  </div>
</div>
<div class="portfolio-menu mt-2 mb-4">
  <ul>
     <li class="btn btn-outline-dark active" data-filter="*">All</li>
     <li class="btn btn-outline-dark" data-filter=".gts">Campus</li>
     <li class="btn btn-outline-dark" data-filter=".lap">Teachers</li>
     <li class="btn btn-outline-dark text" data-filter=".selfie">Students</li>
  </ul>
</div>
<div class="portfolio-item row">
  <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/stylish-young-woman-with-bags-taking-selfie_23-2147962203.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
     <img class="img-fluid" src="../assets/1.jpg" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/pretty-girl-near-car_1157-16962.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
     <img class="img-fluid" src="../assets/2.jpg" alt="">
     </a>
  </div>
  <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/blonde-tourist-taking-selfie_23-2147978899.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/back.jpg" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/cute-girls-oin-studio_1157-18211.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/3.jpg" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/stylish-pin-up-girls_1157-18451.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/back.jpg" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/stylish-pin-up-girl_1157-18940.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/back1.avif" alt="">
     </a>
  </div>
  <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/digital-laptop-working-global-business-concept_53876-23438.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/bg.png" alt="">
     </a>
  </div>
  <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-psd/set-digital-devices-screen-mockup_53876-76507.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/bg1.png" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/young-brunette-woman-with-sunglasses-urban-background_1139-893.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/1.jpg" alt="">
     </a>
  </div>
  <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-psd/laptop-digital-device-screen-mockup_53876-76509.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/last.webp" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-photo/young-woman-holding-pen-hand-thinking-while-writing-notebook_23-2148029424.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/bg.png" alt="">
     </a>
  </div>
  <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
     <a href="https://image.freepik.com/free-psd/female-fashion-concept_23-2147643598.jpg" class="fancylight popup-btn" data-fancybox-group="light">
     <img class="img-fluid" src="../assets/last.webp" alt="">
     </a>
  </div>
  
  
  
</div>

  
<!-- Footer -->
<div class='container-fluid'>
  <div class="card">
      <div class="heading text-center">
          <div class="head1 text-white">Just Scratching the Surface</div>
          <p class="bdr"></p>
      </div>
      <div class="card-body text-white">
          <div class="row m-0 pt-5">
              <div class="card col-12 col-md-3">
                  <div class="card-content">
                      <i class="fas fa-hand-holding-usd fa-3x"></i>
                      <div class="card-title">
                          RECHARGE REPEAT
                          CUSTOMER
                      </div>
                      <p class="text-white" style="margin-left: -60px"><small>Save customers' cards for future phone orders</small></p>
                      <div class="learn-more">
                          <p class="text-white">
                              <small class="text-white">
                                  LEARN MORE
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card-content text-white">
                      <i class="far fa-handshake fa-3x"></i>
                      <div class="card-title">
                          ACCEPT ELECTRONIC
                          CHECK
                      </div>
                      <p class="text-white" style="margin-left: -90px"><small>Save customers' cards for future phone orders</small></p>
                      <div class="learn-more">
                          <p class="text-white">
                              <small class="text-white">
                                  LEARN MORE
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card- text-white">
                      <i class="fas fa-mobile-alt fa-3x"></i>
                      <div class="card-title">
                          STREAMLINE PHONE
                          PAYMENTS
                      </div>
                      <p class="text-white" style="margin-left: -60px"><small>Save customers' cards for future phone orders</small></p>
                      <div class="learn-more">
                          <p class="text-white">
                              <small>
                                  LEARN MORE
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card col-12 col-md-3">
                  <div class="card-content text-white">
                      <i class="fas fa-user-secret fa-3x"></i>
                      <div class="card-title">
                          STAY<br />
                          SECURE
                      </div>
                      <p class="text-white" style="margin-left: -60px"><small>Save customers' cards for future phone orders</small></p>
                      <div class="learn-more">
                          <p class="text-white">
                              <small>
                                  LEARN MORE
                                  <label><i class="fas fa-angle-right"></i></label>
                              </small>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card-footer row m-0">
          <p class="text-white">
              <label>
                  <i class="fas fa-phone fa-rotate-90 text-primary"></i>
              </label>
              800-601-0230</p>
          <div>
              <p>
                  <small class="follow-text text-white">FOLLOW US ON SOCIAL MEDIA</small> <label class="footer-right">
                      <i class="fab fa-instagram text-white"></i>
                      <i class="fab fa-facebook-square text-white"></i>
                      <i class="fab fa-linkedin text-white"></i>
                      <i class="fab fa-twitter-square text-white"></i>
                  </label>
              </p>

          </div>
      </div>
      
  </div>
</div>
<!-- Footer -->
 
<!-- Modal Login -->
   <app-login></app-login>
<!-- login Closed -->

<!-- Modal Register-->
   <app-register></app-register>
<!-- modal closed -->

<!-- Teachers -->

<!-- modal teachers -->
<!-- Students -->

<!-- modal closed -->
<!-- Modal staff -->

<!--student  modal closed -->
<!-- Modal Exam -->

<!-- modal closed -->
  
    