<div class="row" style="background-color: #616161;height:60px;">
    <h1 class="text-left text-white"style="font-size: 45px;margin-left:30px;margin-top:10px">College Examination Details</h1>
 </div>
 <br>
 
 <div class="row">
   
    <div class="col-lg-4">
        <img src="../assets/exam.webp" style="width: 350px;height:550px;margin-left: 30px;">
        </div>
   <div class="col-lg-8">
     <div class="container">
       <div class="row">
           <div class="col-md-offset-1 col-md-10">
               <div class="panel" style="width:1100px ;margin-left:-100px;height: 550px;background-color: rgb(216, 215, 215);">
                   <div class="panel-heading">
                       <div class="row">
                           <div class="col-sm-12 col-xs-12">
                               <a href="#" class="btn btn-sm btn-primary pull-left" data-bs-toggle="modal" data-bs-target="#ModalForm5"><i class="fa fa-plus-circle"></i> Add New</a>
                               <form class="form-horizontal pull-right">
                                   <div class="form-group">
                                      
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
                   <div class="panel-body table-responsive">
                       <table class="table">
                           <thead>
                             <tr>
                                 <th>Exam Name</th>
                                 <th>Year of Study</th>
                                 <th>Department</th>
                                 <th>Exam Fees</th>
                                 <th>Action</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let bill of billList;let idx=index">
                                 <td style="font-size: 20px;color:black;">{{bill.ename}}</td>
                                 <td style="font-size: 20px;color:black;">{{bill.econtact}}</td>
                                 <td style="font-size: 20px;color: black;">{{bill.eprob}}</td>
                                 <td style="font-size: 20px;color:black;">{{bill.efees}}</td>
                                 <td style="font-size: 20px;color: white;">
                                     <ul class="action-list">
                                         <li><a href="#" data-tip="edit" (click)="edit5(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm5"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                         <li><a href="#" data-tip="delete" (click)="delete5(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                     </ul>
                                 </td>
                             </tr>  
                              
                           </tbody>
                       </table>
                   </div>
                   
                   
               </div>
           </div>
       </div>
   </div>
  
   </div>
   
 </div>

 <div class="modal fade" id="ModalForm5" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="myform" style="background-color: rgb(176, 167, 167);">
                <h1 class="text-center text-white">Exam Details</h1>
                 <form [formGroup]="examform">
                    <div class="mb-3 mt-4">
                        <label class="form-label">Exam Name</label>
                        <input type="text" class="form-control"  formControlName="ename">
                        <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="examform.controls['ename'].errors?.['required']">
                                name is required..!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Year of Study</label>
                        <input type="text" class="form-control" formControlName="econtact">
                        <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="examform.controls['econtact'].errors?.['required']">
                                year is required..!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Department</label>
                      <input type="text" class="form-control"  formControlName="eprob">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="examform.controls['eprob'].errors?.['required']">
                            Department is required..!
                        </div>
                    </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Fees Paid</label>
                      <input type="text" class="form-control" formControlName="efees">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="examform.controls['efees'].errors?.['required']">
                            Fees is required..!
                        </div>
                    </div>
                  </div>
                    <button type="submit" class="btn btn-success mt-3" (click)="submit5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='no'"  style="background-color:green;">SUBMIT</button>
                    <button type="submit" class="btn btn-danger mt-3" (click)="clear5()" style="background-color:red;">CANCEL</button>
                    <button type="submit" class="btn btn-warning mt-3" (click)="update5()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked5=='yes'" style="background-color:orange;">UPDATE</button>
            </form>
                </div>

        </div>
      </div>
    </div>
  </div>