<div class="row" style="background-color: #616161;height: 60px;">
    <h1 class="text-left text-white"style="font-size: 45px;margin-left:40px;margin-top:10px">College Students Details</h1>
 </div>
 <br>
 
 <div class="row">
    <div class="col-lg-4">
        <img src="../assets/student.gif" style="width: 350px;height:550px;margin-left: 30px;">
        </div>
   <div class="col-lg-8">
     <div class="container">
       <div class="row">
           <div class="col-md-offset-1 col-md-10">
               <div class="panel" style="width:1100px ;margin-left:-100px;height: 550px;background-color: rgb(216, 215, 215);">
                   <div class="panel-heading">
                       <div class="row">
                           <div class="col-sm-12 col-xs-12">
                               <a href="#" class="btn btn-sm btn-primary pull-left" data-bs-toggle="modal" data-bs-target="#ModalForm3"><i class="fa fa-plus-circle"></i> Add New</a>
                               <form class="form-horizontal pull-right">
                                   <div class="form-group">
                                       
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
                   <div class="panel-body table-responsive">
                       <table class="table">
                           <thead>
                               <tr>
                                 <tr>
                                     <th>Student Name</th>
                                     <th>Student Id</th>
                                     <th>Contact</th>
                                     <th>Address</th>
                                     <th>Action</th>
                                 </tr>  
                               
                           </thead>
                           <tbody>
                             <tr *ngFor="let patient of patientList;let idx=index" style="color: black">
                                 <td style="font-size: 20px;">{{patient.sname}}</td>
                                 <td style="font-size: 20px;">{{patient.sprob}}</td>
                                 <td style="font-size: 20px;">{{patient.scontact}}</td>
                                 <td style="font-size: 20px;">{{patient.saddress}}</td>
                                 <td style="font-size: 20px;color:white">
                                     <ul class="action-list">
                                         <li><a href="#" data-tip="edit" (click)="edit3(idx)" data-bs-toggle="modal" data-bs-target="#ModalForm3"><i class="fa fa-edit" style="color:orange;font-size: 30px;"></i></a></li>
                                         <li><a href="#" data-tip="delete" (click)="delete3(idx)" data-bs-toggle="modal"><i class="fa fa-trash" style="color:red;font-size: 30px;"></i></a></li>
                                     </ul>
                                 </td>
                             </tr>
                              
                           </tbody>
                       </table>
                   </div>
                  
               </div>
           </div>
       </div>
   </div>
  
   </div>
   
 </div>
 
 <br>

 <div class="modal fade" id="ModalForm3" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin-left:1100px;margin-top: 70px;">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="myform" style="background-color: rgb(176, 167, 167);">
                <h1 class="text-center text-white">Student Information Details</h1>
               <form [formGroup]="studentform"> 
                    <div class="mb-3 mt-4">
                        <label class="form-label">Student Name</label>
                        <input type="text" class="form-control"  formControlName="sname">
                        <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="studentform.controls['sname'].errors?.['required']">
                               Name is required..!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Student Id</label>
                        <input type="text" class="form-control" formControlName="sprob">
                        <div class="error" *ngIf="isSubmitted==true">
                            <div *ngIf="studentform.controls['sprob'].errors?.['required']">
                               Id is required..!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Contact No.</label>
                      <input type="text" class="form-control"  formControlName="scontact">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="studentform.controls['scontact'].errors?.['required']">
                           contact is required..!
                        </div>
                    </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Residential Address</label>
                      <input type="text" class="form-control" formControlName="saddress">
                      <div class="error" *ngIf="isSubmitted==true">
                        <div *ngIf="studentform.controls['saddress'].errors?.['required']">
                           address is required..!
                        </div>
                    </div>
                  </div>
                    <button type="submit" class="btn btn-success mt-3" (click)="submit3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='no'"  style="background-color:green;">SUBMIT</button>
                    <button type="submit" class="btn btn-danger mt-3" (click)="clear3()" style="background-color:red;">CANCEL</button>
                    <button type="submit" class="btn btn-warning mt-3" (click)="update3()" data-bs-dismiss="modal" aria-label="Close" *ngIf="isEditBtnClicked3=='yes'" style="background-color:orange;">UPDATE</button>
           </form>
                </div>
        </div>
      </div>
    </div>
  </div>