@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	background: #16161a;
	color: #f3f3f3;
}

a {
	text-decoration: none;
	outline: none;
	color: darken($color: #fff, $amount: 80);
}

li {
	list-style: none;
}

@keyframes hover {
	50% {
		transform: translateX(10px);
	}
}

.offcanvas-menu {
	> label {
		top: 30px;
		left: 30px;
		position: fixed;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
		display: flex;
		align-items: center;
		z-index: 9999;
	}
	label {
		span,
		span::before,
		span::after {
			transition:  0.3s, transform 0.3s;
		}
		span,
		span::before,
		span::after {
			content: "";
			position: absolute;
			height: 4px;
			width: 40px;
			background: darken($color: #fff, $amount: 30);
		}
		span::before {
			transform: translateY(-12px);
		}
		span::after {
			transform: translateY(12px);
		}
	}
	nav {
		position: fixed;
		height: 100%;
		width: 350px;
		left: -350px;
		overflow: hidden;
		background: gainsboro;
		transition: 0.3s ease;
		padding: 40px 30px;

		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			a {
				font-size: 2.5rem;
				font-weight: 500;
				display: flex;
				align-items: center;
				font-family: "Monoton", cursive;
				background: linear-gradient(-90deg, #49a4ed 30%, #3d00a9 110%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				i {
					font-size: 4rem;
					background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			label {
				width: 30px;
				height: 30px;
				display: flex !important;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: 0.3s ease;
				span,
				span:before,
				span:after {
					background: darken($color: #fff, $amount: 70);
				}
			}
		}
		> ul {
			margin-top: 30px;
			counter-reset: nav-link-count;

			li {
				cursor: pointer;
				padding: 10px 0;
				transform: translateX(-30px);
				opacity: 0;
				transition: 0.4s ease;
				counter-increment: nav-link-count;

				a {
					font-size: 2.5rem;
					line-height: 1.5;
					font-weight: 400;
					color: darken($color: #fff, $amount: 80);
					display: block;

					&::after {
						content: " : " counter(nav-link-count);
					}
				}

				&:hover {
					animation: hover 0.5s;
				}
			}
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked {
			~ label {
				opacity: 0;
				pointer-events: none;
			}
			~ nav {
				left: 0;
			}

			~ nav label span {
				background: transparent;
			}
			~ nav label span:before {
				transform: rotate(-45deg);
			}
			~ nav label span:after {
				transform: rotate(45deg);
			}
			~ nav label span:before,
			~ nav label span:after {
				transition-delay: 0.2s;
			}

			~ nav ul li {
				opacity: 1;
				transform: translateX(0px);
			}
			~ nav ul li:nth-child(1) {
				transition-delay: 0.1s;
			}
			~ nav ul li:nth-child(2) {
				transition-delay: 0.2s;
			}
			~ nav ul li:nth-child(3) {
				transition-delay: 0.3s;
			}
			~ nav ul li:nth-child(4) {
				transition-delay: 0.4s;
			}
			~ nav ul li:nth-child(5) {
				transition-delay: 0.5s;
			}
			~ nav ul li:nth-child(6) {
				transition-delay: 0.6s;
			}
			~ nav ul li:nth-child(7) {
				transition-delay: 0.7s;
			}
		}
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 4rem;
	color: lighten($color: #000000, $amount: 70);

	&:nth-child(odd) {
		background: lighten($color: #0e0819, $amount: 2);
	}
	&:nth-child(even) {
		background: lighten($color: #0e0819, $amount: 4);
	}
}
footer {
	padding: 20px 0;
	text-align: center;
	font-size: 1.5rem;
	background: lighten($color: #0e0819, $amount: 2);
	color: lighten($color: #000000, $amount: 50);
	a {
		color: lighten($color: #000000, $amount: 60);
	}
}
body {
    background-color: #f5f7fa;
  }
  .panel{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
.panel .panel-heading{
    background: #535353;
    padding: 15px;
    border-radius: 0;
}
.panel .panel-heading .btn{
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.panel .panel-heading .form-horizontal .form-group{ margin: 0; }
.panel .panel-heading .form-horizontal label{
    color: #fff;
    margin-right: 10px;
}
.panel .panel-heading .form-horizontal .form-control{
    display: inline-block;
    width: 80px;
    border: none;
    border-radius: 0;
}
.panel .panel-heading .form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.panel .panel-body{
    padding: 0;
    border-radius: 0;
}
.panel .panel-body .table thead tr th{
    color: #fff;
    background: #8D8D8D;
    font-size: 17px;
    font-weight: 700;
    padding: 12px;
    border-bottom: none;
}
.panel .panel-body .table thead tr th:nth-of-type(1){ width: 120px; }
.panel .panel-body .table thead tr th:nth-of-type(3){ width: 50%; }
.panel .panel-body .table tbody tr td{
    color: #555;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
    vertical-align: middle;
    border-color: #e7e7e7;
}
.panel .panel-body .table tbody tr:nth-child(odd) td{ background: #f5f5f5; }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{ display: inline-block; }
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    width: 33px;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ box-shadow: 0 0 5px #ddd; }
.panel .panel-footer{
    color: #fff;
    background: #535353;
    font-size: 16px;
    line-height: 33px;
    padding: 25px 15px;
    border-radius: 0;
}
.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    font-size: 15px;
    font-weight: 700;
    margin: 0 2px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
body {
    background-color: rgb(198, 195, 195);
}

.card {
    background-color: rgb(177, 176, 176);
    color: white;
    margin-top: 50px;
    border: none;
}

.head1 {
    font-weight: 900;
    font-size: 30px;
}

.bdr {
    border-bottom: 1.5px solid #FFB74D;
    width: 65px;
    margin-right: auto;
    margin-left: auto;
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E;
}

.footer-right>i {
    margin-left: 15px;
}

.fa-hand-holding-usd {
    color: #FFB74D;
}

.fa-handshake {
    color: #FFB74D;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem;
}

.learn-more {
    color: #FFB74D;
}

.fa-angle-right {
    margin-left: 10px;
}

.fa-3x {
    color: #FFB74D;
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-content>p {
    color: #9E9E9E;
} 

.heading {
    position: relative;
    top: 75px;
}

.follow-text {
    color: #9E9E9E;
}
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'Overpass', sans-serif; letter-spacing: 0px; font-size: 17px; color: #8d8f90; font-weight: 400; line-height: 32px; background-color: #edefef; }
h1, h2, h3, h4, h5, h6 { color: #25292a; margin: 0px 0px 10px 0px; font-family: 'Overpass', sans-serif; font-weight: 700; letter-spacing: -1px; line-height: 1; }
h1 { font-size: 34px; }
h2 { font-size: 28px; line-height: 38px; }
h3 { font-size: 22px; line-height: 32px; }
h4 { font-size: 20px; }
h5 { font-size: 17px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 1.7; }
p:last-child { margin: 0px; }

.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}


.demo{ font-family: 'Noto Sans', sans-serif; }

.modal-content {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    @media (max-width: 576px) {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }
  .error{
	color:red;
  }
